<!DOCTYPE html>
<script src="lib/vue.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDK Q&A Platform</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<script type="text/x-template" id="grid-template">
    <table>
        <thead>
        <tr>
            <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{active: sortKey == key}">
                {{key | capitalize}}
          <span class="arrow"
                :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="
        entry in data
        | filterBy filterKey
        | orderBy sortKey sortOrders[sortKey]">
            <td v-for="key in columns">
                {{entry[key]}}
            </td>
        </tr>
        </tbody>
    </table>
</script>

<!-- demo root element -->
<div id="demo">
    <form id="search">
        Search <input name="query" v-model="searchQuery">
    </form>
    <demo-grid
            :data="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
    </demo-grid>
</div>

<script>
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = process;
    xhr.open("GET", "https://raw.githubusercontent.com/wqf233333/DJI-SDK-SKILL/master/README.md", true);
    xhr.send();

    function process(demo)
    {
        console.log(demo)
        if (xhr.readyState == 4) {
            var resp = xhr.responseText;

            // resp now has the text and you can process it.
            console.log(resp);
            resp_split = resp.split('\n\n');
            console.log(resp_split);
            for (var i = 0; i < resp_split.length; i++){
                if (resp_split[i].startsWith("- ")){
                    console.log(resp_split[i]); //Q
                    console.log(resp_split[i+1]); //the corresponding A
                    demo.gridData.push({Question: resp_split[i], Answer: resp_split[i+1]});
                }
            }
        }
    }


    Vue.component('demo-grid', {
        template: '#grid-template',
        props: {
            data: Array,
            columns: Array,
            filterKey: String
        },
        data: function () {
            var sortOrders = {}
            this.columns.forEach(function (key) {
                sortOrders[key] = 1
            })
            return {
                sortKey: '',
                sortOrders: sortOrders
            }
        },
        methods: {
            sortBy: function (key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            }
        }
    })

    // bootstrap the demo
    var demo = new Vue({
        el: '#demo',
        data: {
            searchQuery: '',
            gridColumns: ['Question', 'Answer'],
            gridData: [
                { Question: 'What is ROS and how to work with it?', Answer: 'http://wiki.ros.org/'},
                { Question: 'How could I compile and run the pkg?', Answer: 'http://wiki.ros.org/catkin/Tutorials'},
                { Question: 'I compiled but cannot find pkg when roslaunch or rosrun', Answer: 'usually it means you forget source devel/setup.bash'}
            ]
        }
    })
    process(demo)

</script>

</body>
</html>